/* line 1, /home/postskript/ucim/app/assets/stylesheets/blocks.css.scss */
.block, fieldset[position="top"], fieldset[position*="left"], fieldset[position*="right"] {
  padding-right: 40px;
  border: 1px solid #ccc;
  text-align: center;
  min-height: 250px;
  z-index: 1;
}

/* line 13, /home/postskript/ucim/app/assets/stylesheets/blocks.css.scss */
fieldset[position*="left"] {
  width: 50%;
  display: inline-block;
}

/* line 19, /home/postskript/ucim/app/assets/stylesheets/blocks.css.scss */
fieldset[position*="right"] {
  float: right;
  width: 50%;
  display: inline-block;
}

/* line 26, /home/postskript/ucim/app/assets/stylesheets/blocks.css.scss */
html,
body {
  height: 100%;
}

/* line 31, /home/postskript/ucim/app/assets/stylesheets/blocks.css.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

/* line 38, /home/postskript/ucim/app/assets/stylesheets/blocks.css.scss */
#push,
#footer {
  height: 60px;
}

/* line 42, /home/postskript/ucim/app/assets/stylesheets/blocks.css.scss */
#footer {
  background-color: #f5f5f5;
}

@media (max-width: 767px) {
  /* line 47, /home/postskript/ucim/app/assets/stylesheets/blocks.css.scss */
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
