<div class="form-component-sample form-component-sample-table" kind="table">
  <input type="hidden" class="hidden-input">
  <div class="form-group">
    <div style='display: inline-block'>
      <label><%= t("content_type.table") %></label>
      <div class="components-buttons">
        <span class="component-button glyphicon glyphicon-remove rm-component-button"></span>
      </div>
    </div>
    <div class="table-editable">
      <span class="table-title table-field" contenteditable="true"><%= t("components.tables.default.title") %></span>
      <span class="table-add glyphicon glyphicon-plus" style="position: static; float: right;"></span>
      <table class="table table-hover table-condensed">
        <tr>
          <th><%= t("components.tables.label") %></th>
          <th><%= t("components.tables.value") %></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td class="table-field" contenteditable="true"><%= t("components.tables.default.label") %></td>
          <td class="table-field" contenteditable="true"><%= t("components.tables.default.value") %></td>
          <td>
            <span class="table-remove glyphicon glyphicon-remove"></span>
          </td>
          <td>
            <span class="table-up glyphicon glyphicon-arrow-up"></span>
            <span class="table-down glyphicon glyphicon-arrow-down"></span>
          </td>
        </tr>

        <tr class="hide">
          <td class="table-field" contenteditable="true"><%= t("components.tables.default.label") %></td>
          <td class="table-field" contenteditable="true"><%= t("components.tables.default.value") %></td>
          <td>
            <span class="table-remove glyphicon glyphicon-remove"></span>
          </td>
          <td>
            <span class="table-up glyphicon glyphicon-arrow-up"></span>
            <span class="table-down glyphicon glyphicon-arrow-down"></span>
          </td>
        </tr>
      </table>
      <select>
        <option value="table"><%= t("components.tables.types.table") %></option>
        <option value="pie2d"><%= t("components.tables.types.pie2d") %></option>
        <option value="pie3d"><%= t("components.tables.types.pie3d") %></option>
        <option value="line"><%= t("components.tables.types.line") %></option>
        <option value="area2d"><%= t("components.tables.types.area2d") %></option>
        <option value="bar2d"><%= t("components.tables.types.bar2d") %></option>
        <option value="bar3d"><%= t("components.tables.types.bar3d") %></option>
        <option value="column2d"><%= t("components.tables.types.column2d") %></option>
        <option value="column3d"><%= t("components.tables.types.column3d") %></option>
        <option value="doughnut2d"><%= t("components.tables.types.doughnut2d") %></option>
        <option value="doughnut3d"><%= t("components.tables.types.doughnut3d") %></option>
      </select>
    </div>
  </div>
</div>
