<!DOCTYPE html>
<html>
  <head>
    <title>Ucim</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "application/header" %>

    <div id="wrap">
      <div class="container">
        <%= yield %>
      </div>
      <div id="push"></div>
    </div>

    <div class="container">
      <p class="muted credit" style='text-align:center'>
        <a href="http://github.com/alex-pat/ucim">
          <%= t("layouts.application.footer.github") %><i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </p>
    </div>
  </body>
</html>
